.App {
  text-align: left;
  height: 100vh;
  width: 100vw;
  margin: auto;
}

.MaxPosInput {
  padding: 15px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*** ACCORDION ***/

/* Header */
.accordion {
  margin: 2px;
}
.accordion > div > div:first-of-type {
  padding: 1em;
  background-color: #4abdac;
  color: white;
  text-transform: uppercase;
  user-select: none;
  font-weight: 200;
  cursor: pointer;
  border-radius: 0.5em;
  box-shadow: 0 -10px 30px 2px rgba(0, 0, 0, 0.1) inset;
}
.accordion > div > div:first-of-type:hover {
  background-color: #59c3b3;
}

/* Content */
.accordion > div > div:last-of-type {
  background-color: #f9f9f9;
  margin: 0 0.5em;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.2);
}

/* Inner */
.accordion .accordion-item {
  padding: 1em;
  opacity: 0;
  transition: opacity 300ms ease;
  overflow: auto;
}
.accordion > div:first-child .accordion-item {
  max-height: 200px;
}
.accordion > div.open .accordion-item {
  opacity: 1;
  transition: opacity 700ms ease;
}
.accordion img.accordion-item {
  padding: 0;
  margin: 0;
  width: 100%;
}

nav {
  text-align: center;
  width: 20%;
  float: left;
  padding-top: 75px;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 5px 10px;
  border-radius: 5px;
  width: 100%;
}
nav a {
  text-decoration: none;
  margin: 5px 10px;
  border-radius: 5px;
  padding: 1em;
  background-color: #4abdac;
  color: white;
  text-transform: uppercase;
  user-select: none;
  font-weight: 200;
  cursor: pointer;
  border-radius: 0.5em;
  display: block;
  box-shadow: 0 -10px 30px 2px rgba(0, 0, 0, 0.1) inset;
}

.content {
  width: 75%;
  float: right;
  margin: 15px;
}
