.App {
  text-align: left;
  height: 100vh;
  width: 500px;
  margin: auto;
}

.MaxPosInput {
  padding: 15px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
